body {
	font-family: 'Times New Roman', serif;
	font-size: 12px;
	line-height: 17px;
	color: #656565;
	margin: 0 auto;
	width: 80%
}

#container {
	margin: 3% 5%;
}

.img-section > img {
	width: 100%;
	height: 100%;
}

a:hover {
	color: #20222a;
}

.brands-section {
	width: 100%;
}

.brands {
	border: 5px solid #b1b1b1;
	display: inline-block;
	padding: 0.2%;
}

.brands > img {
	width: 100%;
	height: 100%;
	display: block;
}

#date , .read-more {
	color: #09A3D6;
	text-decoration: none;
}